<%- include("../partials/head.ejs") -%>
<body>
    <h1>Welcome</h1>
    <p>This is a cool web server.</p>
    <%- include("../partials/test.ejs") -%>
    <%- include("../partials/test.ejs") -%>
    <%- include("../partials/test.ejs") -%>
    
    <p>
        This page has had <%= viewCount %> visitors
    </p>

    <form action="/cool-form" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username">
        <label for="password">Password:</label>
        <input type="password" name="password">
        <input type="submit">
    </form>
    <button id="message">Message Server</button>
</body>
sc
<script type="text/javascript" src="/script.js"></script>
<script>
//     const url = "ws://localhost:3123";
// const wsServer = new WebSocket(url);

// function sendMessage() {
//     wsServer.send("Test message from client");
// }
// const button = document.getElementById("message");
// button.addEventListener("click", () => {
//     sendMessage();
// })

</script>
</html>