<%- include("../partials/head.ejs") -%>
<body>
    <h1>Welcome</h1>
    <p>This is a cool web server.</p>
    <%- include("../partials/test.ejs") -%>
    <%- include("../partials/test.ejs") -%>
    <%- include("../partials/test.ejs") -%>
    
    <p>
        This page has had <%= viewCount %> visitors
    </p>

    <form action="/cool-form" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username">
        <label for="password">Password:</label>
        <input type="password" name="password">
        <input type="submit">
    </form>
</body>
</html>