<%- include("../partials/head.ejs") -%>
<body>
    <h1>Welcome</h1>
    <p>This is a cool web server.</p>
    <%- include("../partials/test.ejs") -%>
    <%- include("../partials/test.ejs") -%>
    <%- include("../partials/test.ejs") -%>
    
    <p>
        This page has had <%= viewCount %> visitors
    </p>

    <form action="/cool-form" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username">
        <label for="password">Password:</label>
        <input type="password" name="password">
        <input type="submit">
    </form>
    <div id="new-message">

    </div>

    <textarea name="new-chat" id="new-chat"></textarea>

    <button id="message">Send Message</button>
</body>
sc
<!-- <script type="text/javascript" src="../script.js"></script> -->
<script>
    const userName = prompt("What is your username?");
    const url = "ws://localhost:<%= PORT %>";
    const wsServer = new WebSocket(url);
    


    const newChat = document.getElementById("new-chat");
    function sendMessage() {
        console.log(newChat.value)
        if (newChat.value) {
            wsServer.send(`${userName}:\n${newChat.value}`);
            newChat.value = "";
        }
    }

    const button = document.getElementById("message");
    button.addEventListener("click", () => {
        sendMessage();
    })

    const messageContainer = document.getElementById("new-message");

    function displayMessage(message) {
        let newMessage = document.createElement("p");
        newMessage.innerText = message;
        messageContainer.appendChild(newMessage);
    }

    wsServer.onmessage = (event) => {
        const { data } = event;
        console.log(data);
        displayMessage(data);
    }

</script>
</html>